@charset "utf-8";
@import "normalize";

body {
  background: #f3f3f3;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
h1 {
  color: #1c1c1c;
}

table {
  margin: 0 auto;
}

